name: Release automation

permissions:
  contents: write
  pull-requests: write

on:
  workflow_dispatch:
    inputs:
      version_number:
        description: 'Release Version Number (Eg, v1.0.0)'
        required: true
      branch:
        description: 'Branch to release from'
        required: false
        default: 'main'

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Release
        uses: FreeRTOS/CI-CD-Github-Actions/release@main
        with:
          version_number: ${{ github.event.inputs.version_number }}
          branch: ${{ github.event.inputs.branch }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          run_test_command: 'sudo apt-get install -y lcov && rm -rf ../build && cmake -S ./test -B ../build -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=Debug -DBUILD_CLONE_SUBMODULES=ON -DUNITTEST=ON -DCMAKE_C_FLAGS="--coverage -Wall -Wextra -Werror -DNDEBUG -Wno-error=pedantic -Wno-variadic-macros -DLOGGING_LEVEL_DEBUG=1" && make -C ../build all && cd ../build && ctest -E system --output-on-failure'
